In [1]:
from sklearn.datasets import load_diabetes

-> When we write: X,y=load_diabetes(return_X_y=True) .. i.e. when we take parameter return_X_y=True, it'll convert our data into n-dimenaional array without the features(name) it has.

In [2]:
X,y=load_diabetes(return_X_y=True)  # X will contain features, y will contain target


-> Using X, y or, info,type to print and see what type of data we have, it'll not work as data is in form of n-dimensional array.

In [3]:
X   #features

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [4]:
y   #target

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [5]:
#therefore, we have to convert it into dataframe..to view all the features and targets

import pandas as pd

X=pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [6]:
y=pd.DataFrame(y)
y

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

#describe() will give discription of data :

The describe() method returns description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column: count - The number of not-empty values. mean - The average (mean) value. std - The standard deviation.

In [7]:
X.describe()

,0,1,2,3,4,5,6,7,8,9
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [8]:
y.describe()

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000

# info()

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       442 non-null    float64
 1   1       442 non-null    float64
 2   2       442 non-null    float64
 3   3       442 non-null    float64
 4   4       442 non-null    float64
 5   5       442 non-null    float64
 6   6       442 non-null    float64
 7   7       442 non-null    float64
 8   8       442 non-null    float64
 9   9       442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

#To see the name of features :

-> When we write data=load_diabetes() i.e. without parameter (return_X_y=True), then we can see whole description of the dataset including baseline features.

In [10]:
data=load_diabetes()
data

{'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'data_filename': 'diabetes_data.csv.gz',
 'data_module': 'sklearn.datasets.data',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'frame': None,
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'target_filename': 'diabetes_target.csv.gz'}

->As we can see that our target is not a categorical data i.e. like iris dataset 0,1,2 that means we have to predict something(o/p) like we did in insurance dataset.

Therefore, we won't use classification as we don't have to classify like we did in iris dataset 0,1,2.

Regression will be used to prdict the target.

In [11]:
#Concatenating dataframes

#df=pd.concat([X,y]) will concatenate row-wise

#Concating column-wise
df=pd.concat([X,y],axis=1)
df

,0,1,2,3,4,5,6,7,8,9,0
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In above o/p last column i.e. 0 is our target

Note: age and other data is in -ve also bcz it is normalized data.

As our data is already normalized we don't have to catregorized using diff. encoding techniques.

#Checking whether any null value is there or not :

As no null value is there therefore we don't have to apply simpleimputer.

In [12]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
0    0
dtype: int64

#-> Applying regression method without any data preprocessing :

First : Splitting data into training and testing

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42) 
#taking 20% data for test & 80% for training

#random_state=42, we take seed value i.e. random_state so that our testing and training data is not same
#in our entire code we have to use same seed value
#seed value can we any random no. there we have taken 42 
#every time random_state will select same rows for testing & same row for training
#if we don't take it then if we train our model multiple time our training data everytime may differ
#which will affect our predictions

In [14]:
#Total rows(data) were : 442
#80% of 442 = 353
#20% of 442 = 89

In [15]:
X_train.shape
#353 rows(data) & 10 columns(features)

(353, 10)

In [16]:
X_test.shape
#89 rows(data) & 10 columns(features)

(89, 10)

In [17]:
X_test

,0,1,2,3,4,5,6,7,8,9
287,0.045341,-0.044642,-0.006206,-0.015999,0.125019,0.125198,0.019187,0.034309,0.032433,-0.005220
211,0.092564,-0.044642,0.036907,0.021872,-0.024960,-0.016658,0.000779,-0.039493,-0.022512,-0.021788
72,0.063504,0.050680,-0.004050,-0.012556,0.103003,0.048790,0.056003,-0.002592,0.084495,-0.017646
321,0.096197,-0.044642,0.051996,0.079254,0.054845,0.036577,-0.076536,0.141322,0.098646,0.061054
73,0.012648,0.050680,-0.020218,-0.002228,0.038334,0.053174,-0.006584,0.034309,-0.005145,-0.009362
...,...,...,...,...,...,...,...,...,...,...
255,0.001751,-0.044642,-0.065486,-0.005671,-0.007073,-0.019476,0.041277,-0.039493,-0.003304,0.007207
90,0.012648,-0.044642,-0.025607,-0.040099,-0.030464,-0.045155,0.078093,-0.076395,-0.072128,0.011349
57,-0.027310,-0.044642,-0.063330,-0.050428,-0.089630,-0.104340,0.052322,-0.076395,-0.056158,-0.067351
391,-0.023677,-0.044642,-0.069797,-0.064199,-0.059359,-0.050478,0.019187,-0.039493,-0.089137,-0.050783
24,-0.063635,-0.044642,0.035829,-0.022885,-0.030464,-0.018850,-0.006584,-0.002592,-0.025952,-0.054925

In [18]:
y_test

         0
287  219.0
211   70.0
72   202.0
321  230.0
73   111.0
..     ...
255  153.0
90    98.0
57    37.0
391   63.0
24   184.0

[89 rows x 1 columns]

#Checking accuracy for both regression model : 

1. Linear regression
2. Decision tree

#1. Linear Regression :

In [19]:
from sklearn.linear_model import LinearRegression

#defining our model
model_LR= LinearRegression()

->giving training data to model to train it :

In [20]:
model_LR.fit(X_train, y_train)

LinearRegression()

In [21]:
#it'll test all 89 rows
y_pred=model_LR.predict(X_test)

In [22]:
y_pred

array([[139.5483133 ],
       [179.52030578],
       [134.04133298],
       [291.41193598],
       [123.78723656],
       [ 92.17357677],
       [258.23409704],
       [181.33895238],
       [ 90.22217862],
       [108.63143298],
       [ 94.13938654],
       [168.43379636],
       [ 53.50669663],
       [206.63040068],
       [100.13238561],
       [130.66881649],
       [219.53270758],
       [250.78291772],
       [196.36682356],
       [218.57497401],
       [207.35002447],
       [ 88.48361667],
       [ 70.43428801],
       [188.95725301],
       [154.88720039],
       [159.35957695],
       [188.31587948],
       [180.38835506],
       [ 47.98988446],
       [108.97514644],
       [174.78080029],
       [ 86.36598906],
       [132.95890535],
       [184.5410226 ],
       [173.83298051],
       [190.35863287],
       [124.41740796],
       [119.65426903],
       [147.95402494],
       [ 59.05311211],
       [ 71.62636914],
       [107.68722902],
       [165.45544477],
       [155.00784964],
       [171.04558668],
       [ 61.45763075],
       [ 71.66975626],
       [114.96330486],
       [ 51.57808027],
       [167.57781958],
       [152.52505798],
       [ 62.95827693],
       [103.49862017],
       [109.20495627],
       [175.63844013],
       [154.60247734],
       [ 94.41476124],
       [210.74244148],
       [120.25601864],
       [ 77.61590087],
       [187.93503183],
       [206.49543321],
       [140.63018684],
       [105.59463059],
       [130.704246  ],
       [202.18650868],
       [171.1330116 ],
       [164.91246096],
       [124.72637597],
       [144.81210187],
       [181.99631481],
       [199.41234515],
       [234.21402489],
       [145.96053305],
       [ 79.86349114],
       [157.36828831],
       [192.74737754],
       [208.8980067 ],
       [158.58505486],
       [206.0226849 ],
       [107.47978402],
       [140.93428553],
       [ 54.81856678],
       [ 55.92807758],
       [115.00974554],
       [ 78.95886675],
       [ 81.55731377],
       [ 54.3774778 ],
       [166.25477778]])

After comparing y_pred & y_test values we can see that the prediction is not good as difference is too much.

#2. Decision tree regression :

In [23]:
from sklearn.tree import DecisionTreeRegressor

#defining our model
model_DT= DecisionTreeRegressor()
model_DT.fit(X_train,y_train)

DecisionTreeRegressor()

In [24]:
y_pred=model_DT.predict(X_test)
y_pred

array([190.,  99., 170., 173., 183.,  87., 233., 258., 206., 174., 113.,
       200.,  74., 202.,  86.,  60., 310., 180., 293., 163., 147.,  65.,
        49., 150.,  85., 127., 293., 162.,  59., 230., 279.,  49., 172.,
       283., 164., 200.,  83.,  83., 120.,  96.,  39., 109., 219., 131.,
       170.,  75.,  31., 170.,  45., 179., 142.,  72., 145., 179., 229.,
       142.,  59., 221.,  59.,  57., 131., 147., 142., 109., 124., 163.,
        58.,  69., 150., 200., 206., 281., 245., 162.,  72., 292., 150.,
       178., 111., 292.,  49.,  25.,  59.,  45.,  59.,  52.,  74.,  74.,
       147.])

After comparing y_pred & y_test values we can see that the prediction by Decision tree regression is better than linear regression.

-----

#->Advantages of train-test-split :
1. We can easily split our data into training data & testing data.

#->Disadvantage of train-test-split:
1. We can see that during spliting our data some rows of our features can have similar data i.e. lets take age : our data may have similar ages in our training data(as data is selected randomly for training and testing). **And due to similar age data, our model get biased towards that similar age range**. Over-fitting will be there. 
**When we test our data for age different than that particular age group, our model won't be able to perform well as it is baised towards a sepecific age group**.

# To overcome the over-fitting/baised issue of train-test-split we have a cross validation concept i.e. K-fold cross validation.

X, y should not be in dataframe format

In [30]:
from sklearn.model_selection import KFold

#n_splits is no. os split
kf=KFold(n_splits=5)
for train,test in kf.split(X):
  Xtrain, Xtest= X[train], X[test]
  ytrain, ytest= y[train], y[test]

KeyError: ignored

In [32]:
from sklearn.datasets import load_diabetes
X2, y2=load_diabetes(return_X_y=True)

In [33]:
from sklearn.model_selection import KFold

#n_splits is no. of split
kf=KFold(n_splits=5)
for train,test in kf.split(X2): #we can take kf.split(X2,y2) also
  
  #dividing our dataset
  Xtrain, Xtest= X2[train], X2[test]
  ytrain, ytest= y2[train], y2[test]

**kf=KFold(n_splits=5)**

**for train,test in kf.split(X2) :**

In this 5 or any no. which we gives divides the dataset into equal subsets. Here, it is 5 i.e., our dataset is divided into 5 subsets.

And in each iteration first we are giving 1st subset for training and other 4 for testing

2nd iteration, 2 for training 3 for testing

and so on.....

So, bcz of this our model won't become biase as we are changing training nd testing data in each iteration.

---

#Now, going for linear regression after using Kfold cross validation for splitting our data :

In [35]:
from sklearn.linear_model import LinearRegression
model_LR=LinearRegression()
model_LR.fit(Xtrain,ytrain)

LinearRegression()

In [36]:
y_pred=model_LR.predict(Xtest)
y_pred

array([191.42755525, 133.04877448,  91.97677251, 198.85251886,
        54.98917741, 173.71496126, 196.45853504, 120.51068765,
       233.23043101, 163.51698175, 161.25297652, 163.87635245,
       253.65571515, 255.59408899, 197.81068341, 185.44645028,
        60.136369  , 194.75215437, 109.34153649, 143.03292209,
       127.92878888, 176.04394067, 209.93507631, 166.33590143,
       162.17984648, 137.52983423, 174.20311213,  74.27388858,
       249.47602759, 113.96862315, 108.93850616, 138.30775304,
       110.87297284,  95.73780182, 159.50300881,  75.56060774,
       254.52713294,  57.2151258 ,  99.57030731, 101.80895415,
       261.24938284, 168.81352273,  64.20043431, 183.10714025,
       169.90316133, 187.00854392, 184.8058785 ,  90.37629602,
       148.74592464, 251.58873636, 198.12771061, 279.87044377,
        51.41253122, 175.31773735, 201.50171976, 170.2097595 ,
       155.29608618, 152.87506316, 232.74795372, 122.87668768,
       163.18303141, 172.87883213, 225.2838219 , 152.36655417,
        99.61312765,  84.10835367, 142.05105494, 189.88328509,
       195.33173077, 150.02075001, 171.08885186, 113.07589976,
       161.34647259, 130.97680332, 257.19688034, 100.36438648,
       116.38378469, 121.47938471, 219.42669778,  61.97294807,
       132.7329999 , 120.51818799,  54.18385298, 190.31596542,
       102.82568871, 121.90793261, 209.99779855,  53.80693157])

**Now we can see our Linear Regression prediction is giving different answer after using KFold as compare Linear Regression using train-test-split**

----

#Now, going for decision tree regression after using Kfold cross validation for splitting our data :

In [37]:
from sklearn.tree import DecisionTreeRegressor
model_DT=DecisionTreeRegressor()
model_DT.fit(Xtrain,ytrain)

DecisionTreeRegressor()

In [38]:
y_pred=model_DT.predict(Xtest)
y_pred

array([295., 144., 216.,  99.,  99., 107., 122.,  89., 279., 292.,  81.,
       246., 241., 180., 272.,  78.,  97.,  90.,  65., 150., 185., 270.,
       259., 182., 292., 137., 288., 162., 265.,  77., 214., 129.,  88.,
       172., 214.,  96., 272., 181., 128., 144., 152., 200.,  71.,  52.,
       310., 170., 263.,  39.,  71., 265., 288., 308.,  77., 237., 275.,
       222., 139., 145., 237.,  61., 196., 210., 178., 172.,  59., 113.,
        89., 235., 259.,  89., 292.,  60., 245.,  71., 243., 179.,  84.,
        75., 295.,  87.,  72.,  53.,  77., 219.,  51.,  49., 166.,  96.])

**Now we can see our Decision Tree Regression prediction is giving different answer after using KFold as compare Decision tree Regression using train-test-split.**

-----

#->Now we can see using kfold our model is not biased towards a specific category.

#->This(kfold) is one of the method/measure using which we can enhance our model, so that it is not biased towards a specific data/category.