Refer to this document after reading and going through ml-3(insurance dataset)

---

In [1]:
from sklearn.datasets import load_iris

In [2]:
X,y= load_iris(return_X_y=True)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.20, random_state=0)

# We'll be using Decision Tree Classification instead of regression bcz
here, we have to classify 3 types of flowers: setosa, versicolor, viriginca

In [6]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier().fit(X_train,y_train)

In [7]:
y_pred=model.predict(X_test)

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame({'Real Values ':y_test, 'Predicted Values ':y_pred})
df

    Real Values   Predicted Values
0              2                  2
1              1                  1
2              0                  0
3              2                  2
4              0                  0
5              2                  2
6              0                  0
7              1                  1
8              1                  1
9              1                  1
10             2                  2
11             1                  1
12             1                  1
13             1                  1
14             1                  1
15             0                  0
16             1                  1
17             1                  1
18             0                  0
19             0                  0
20             2                  2
21             1                  1
22             0                  0
23             0                  0
24             2                  2
25             0                  0
26             0                  0
27             1                  1
28             1                  1
29             0                  0

---

-> As we can see that we haven't provide any of the preprocessing techniques as in this dataset it wasn't required as no null values are there.. or other cases which require data preprocessing