**14/03/2022**

In [1]:
from google.colab import files
uploaded=files.upload()

Saving diabetes.csv to diabetes.csv

In [2]:
import pandas as pd   #for reading the file
import numpy as np
import io   #as file is in google colab we are using it
df=pd.read_csv(io.BytesIO(uploaded['diabetes.csv']))   #taking permission of io for reading as it is in google colab
#uploaded is a variable name where we have uploaded the file
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
X=df.drop(['Outcome'], axis=1)  #axis=1 means all the column values
y=df['Outcome']
print(X.shape, y.shape)

(768, 8) (768,)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(614, 8) (614,)
(154, 8) (154,)

#implementing SVC :

In [6]:
from sklearn.svm import SVC
model_svc= SVC()
model_svc.fit(X_train,y_train)

SVC()

In [7]:
y_pred= model_svc.predict(X_test)

In [8]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       107
           1       0.73      0.51      0.60        47

    accuracy                           0.79       154
   macro avg       0.77      0.71      0.73       154
weighted avg       0.78      0.79      0.78       154

#implementing XGBoost :

In [10]:
from xgboost import XGBClassifier
 
model_xgb=  XGBClassifier()
model_xgb.fit(X_train, y_train)

XGBClassifier()

In [11]:
y_pred= model_xgb.predict(X_test)

In [12]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.87      0.87       107
           1       0.70      0.70      0.70        47

    accuracy                           0.82       154
   macro avg       0.79      0.79      0.79       154
weighted avg       0.82      0.82      0.82       154

---

Accuracy is very low in both cases, or any other classification method bcz there are many 0 values in columns like insuline, skin thickness so we have to replace those 0 values with mean,or, median of the particular column to improve the accuracy.

----

Also test using after implementing preprocessing techniques for all classification techniques.