#Dictionary :

- Dictionary contains KEY, VALUE pair.

Properties of Dictionary :
1. It is ordered.
2. Doesn't allow duplicate values.
3. It is changeable.

#Creating a dictionary :

In [1]:
# key:value
student1={"Name":"Simran", "Rollno":1234,"Age":21}
student1

{'Age': 21, 'Name': 'Simran', 'Rollno': 1234}

#Accessing a value of a key :

1. Accesing value of a specific key :

In [4]:
print(student1['Rollno'])
print(student1['Name'])

1234
Simran

-> Storing value of a key in variable :

In [6]:
x=student1['Name']
x

'Simran'

-> Storing using get() :

In [8]:
y=student1.get('Name')
y

'Simran'

#Accesing all items :

1. Accesing all keys :

In [9]:
x=student1.keys()
x

dict_keys(['Name', 'Rollno', 'Age'])

2. Accessing all values :

In [10]:
x=student1.values()
x

dict_values(['Simran', 1234, 21])

3. Accesing both keys & values :

In [11]:
x=student1.items()
x

dict_items([('Name', 'Simran'), ('Rollno', 1234), ('Age', 21)])

4. Printing only keys using FOOR LOOP :

In [13]:
for i in student1:
  print(i)

Name
Rollno
Age

5. Print only values using FOOR LOOP :

In [ ]:
for i,j in student1.items():
  print(j)

6. Print all keys & values using FOOR LOOP :

In [14]:
for i,j in student1.items():
  print(i,j)

Name Simran
Rollno 1234
Age 21

#Changing item in dictionary :

1. Updating only a single value :

In [16]:
student1['Age']=20
student1

{'Age': 20, 'Name': 'Simran', 'Rollno': 1234}

2. Updating or adding multiple values : update()

In [17]:
student1.update({'Age':21, 'City':'Jaipur'})
student1

{'Age': 21, 'City': 'Jaipur', 'Name': 'Simran', 'Rollno': 1234}

3. Adding a single item :

In [18]:
student1['Paper']='AI & ML'
student1

{'Age': 21,
 'City': 'Jaipur',
 'Name': 'Simran',
 'Paper': 'AI & ML',
 'Rollno': 1234}

#No duplicate key will be allowed :

(Last entered value of duplicate key will be stored.) 

(Here, Jaipur will be replaced by Delhi as Key - City already exist and it'll store only last entered value)

In [19]:
student1.update({'City':'Jaipur', 'City':'Delhi'})
student1

{'Age': 21,
 'City': 'Delhi',
 'Name': 'Simran',
 'Paper': 'AI & ML',
 'Rollno': 1234}

Here, City1, City3 & City2 will be stored even though City & City2 both have Value Delhi ,& City1 & City3 have value Jaipur.

Only UNIQUE KEY is required. VALUE ISN'T required to be UNIQUE.

In [21]:
student1.update({'City1':'Jaipur', 'City2':'Delhi', 'City3':'Jaipur'})
student1

{'Age': 21,
 'City': 'Delhi',
 'City1': 'Jaipur',
 'City2': 'Delhi',
 'City3': 'Jaipur',
 'Name': 'Simran',
 'Paper': 'AI & ML',
 'Rollno': 1234}

#Removing items :

1. Using pop() : 

pop(key)

In [23]:
student1.pop('City2')
student1

{'Age': 21,
 'City': 'Delhi',
 'City1': 'Jaipur',
 'City3': 'Jaipur',
 'Name': 'Simran',
 'Paper': 'AI & ML',
 'Rollno': 1234}

2. Using popitem() :

Last inserted item will be removed. In this case it was City3.

In [24]:
student1.popitem()
student1

{'Age': 21,
 'City': 'Delhi',
 'City1': 'Jaipur',
 'Name': 'Simran',
 'Paper': 'AI & ML',
 'Rollno': 1234}

3. Using del :

In [25]:
del student1['Paper']
student1

{'Age': 21,
 'City': 'Delhi',
 'City1': 'Jaipur',
 'Name': 'Simran',
 'Rollno': 1234}

#Deleting dictionary :

1. Using del keyword :

In [26]:
del student1

In [27]:
student1

NameError: ignored

#Nested dictionary :

-> If we want to create a dictionary in this way for 30 students then we have to write it 30 times.
 We use NESTED DICTIONARY.

-> A if we want to store dictionary in dictionary.

#Creating NESTED DICTIONARY :

In [30]:
#studentBatchC dictionary conatins dictionary of all the students

# 'student1':{}, {} contains all info regarding student1, similary 'student2':{} & 'student3':{}
studentBatchC={'student1':{"Name":"Simran", "Rollno":1234,"Age":21}, 'student2':{"Name":"Sapna", "Rollno":1235,"Age":20}, 'student3':{"Name":"Shubhangi", "Rollno":1236,"Age":21}}
studentBatchC

{'student1': {'Age': 21, 'Name': 'Simran', 'Rollno': 1234},
 'student2': {'Age': 20, 'Name': 'Sapna', 'Rollno': 1235},
 'student3': {'Age': 21, 'Name': 'Shubhangi', 'Rollno': 1236}}

#Accessing items of NESTED DICTIONARY using FOR LOOP :

In [31]:
for i,j in studentBatchC.items():
  print(i,j)

student1 {'Name': 'Simran', 'Rollno': 1234, 'Age': 21}
student2 {'Name': 'Sapna', 'Rollno': 1235, 'Age': 20}
student3 {'Name': 'Shubhangi', 'Rollno': 1236, 'Age': 21}

#Copying student1 in student5 :

1. Method-1 : dict2=dict1.copy()
2. Method-2 : dict2=dict(dict1)

->Storing a dictionary in another dictionary :

In [35]:
#we can't copy dictionary of nested dictionary in this way
student6=student1.copy()
student6

NameError: ignored

In [40]:
#copying a dictionary in another dictionary using copy()
student5={"Name":"xyz", "Rollno":12,"Age":19}
student6=student5.copy()
student6

{'Age': 19, 'Name': 'xyz', 'Rollno': 12}

In [41]:
student7=dict(student5)
student7

{'Age': 19, 'Name': 'xyz', 'Rollno': 12}

->Storing nested dictionary in another dictionary:

In [42]:
student8=dict(studentBatchC)
student8

{'student1': {'Age': 21, 'Name': 'Simran', 'Rollno': 1234},
 'student2': {'Age': 20, 'Name': 'Sapna', 'Rollno': 1235},
 'student3': {'Age': 21, 'Name': 'Shubhangi', 'Rollno': 1236}}

In [43]:
student6=studentBatchC.copy()
student6

{'student1': {'Age': 21, 'Name': 'Simran', 'Rollno': 1234},
 'student2': {'Age': 20, 'Name': 'Sapna', 'Rollno': 1235},
 'student3': {'Age': 21, 'Name': 'Shubhangi', 'Rollno': 1236}}