#List : Stores multiple items in a single variable

#-> Characteristics of List:
1. it is ordered (like array it maintains index) (has indexing, starting from 0)
2. It is mutable(changeable). We can add, update, change or remove any item from the list.
3. It allows duplicate values.

#Defining/creating a list

1. Method-1

In [71]:
list1=['abc', "ghj", 1, 'xyz']
list1

['abc', 'ghj', 1, 'xyz']

In [72]:
list3=['abc',1,2,3,True,False]
list3

['abc', 1, 2, 3, True, False]

2. Method-2

We can use a list constructor provided by python names as list to create a list

In [73]:
list2=list((1,2,3,4,5))
list2

[1, 2, 3, 4, 5]

#-> Methods for ordered characteristics of List :

#Accessing an element using index :

In [74]:
print(list1[1])

ghj

#Accessing multiple elements using index :

In [75]:
print(list1[1:3])

['ghj', 1]

#Accessing an element using reverse index :

In [76]:
print(list2[-1])

5

#Reverse a list :

In [77]:
print(list2[::-1])

[5, 4, 3, 2, 1]

#Printing from beginning till 5th(excluded) index :

In [78]:
print(list3[:5])

['abc', 1, 2, 3, True]

#Printing from index 1 till end :

In [79]:
print(list3[1:])

[1, 2, 3, True, False]

#-> Methods for mutable characteristics of List :

#Changing/replacing element :

In [80]:
print(list1)
list1[1]='shubhangi'
list1

['abc', 'ghj', 1, 'xyz']

['abc', 'shubhangi', 1, 'xyz']

#Changing elements in a range (more than 1 item) :

In [81]:
print(list1)
list1[1:3]=[7,'SHUBHANGI']
list1

['abc', 'shubhangi', 1, 'xyz']

['abc', 7, 'SHUBHANGI', 'xyz']

# inserting an element at an index : insert(position,element)

In [82]:
print(list1)
list1.insert(1,'UG')
list1

['abc', 7, 'SHUBHANGI', 'xyz']

['abc', 'UG', 7, 'SHUBHANGI', 'xyz']

#inserting more than 1 element

In [83]:
list1.insert(0,[1,True]) #this list will be inserted at 0th position
list1

[[1, True], 'abc', 'UG', 7, 'SHUBHANGI', 'xyz']

In [84]:
print(list1[0])

[1, True]

#Inserting using append() :

->Diff. b/w insert and append:

Append adds element at the end of the list and have only 1 parameter to pass i.e. element.

Insert adds element at any position in the list and have 2 parametrs to pass i.e. position and element.

In [85]:
list1.append('student')
list1

[[1, True], 'abc', 'UG', 7, 'SHUBHANGI', 'xyz', 'student']

#Appending 1 list to another list :

In [86]:
print(list1)
print(list2)
list1.extend(list2)
print(list1)
print(list2)

[[1, True], 'abc', 'UG', 7, 'SHUBHANGI', 'xyz', 'student']
[1, 2, 3, 4, 5]
[[1, True], 'abc', 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#Removing an item from the list :

using remove() :

In [87]:
list1.remove('abc')
list1

[[1, True], 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4, 5]

using pop(index) :

In [88]:
list1.pop(0)
list1

['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4, 5]

using pop():

it'll remove last item of the list

In [89]:
list1.pop()
list1

['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]

#-> Duplicate items characteristic of List :

In [90]:
list4=[1,2,3,1,2,3,4]
list4

[1, 2, 3, 1, 2, 3, 4]

#Deleting all the items list :

In [91]:
list4.clear()
list4

[]

#Deleting list :

In [92]:
del list4

In [93]:
list4

NameError: ignored

#Printing all the items of the list :

In [94]:
for x in list1:
  print(x)

UG
7
SHUBHANGI
xyz
student
1
2
3
4

#Sorting items of the list #

Note : if we have diff. data types in list then it'll give us error

In [95]:
#this will give error bcz list has both string and int datatype elements
list1.sort()
print(list1)

TypeError: ignored

In [96]:
#it'll be sorted bcz. list has onle 1 datatype i.e. string
list4=['bcsjhdgc','pwie','abc','xyz','bcd']

#sorts in ascending order
list4.sort()
list4

['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']

In [97]:
#sorts in descending order
list4.sort(reverse=True)
list4

['xyz', 'pwie', 'bcsjhdgc', 'bcd', 'abc']

#Reversing the list :

In [98]:
print(list4)

list4.reverse()
list4

['xyz', 'pwie', 'bcsjhdgc', 'bcd', 'abc']

['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']

#Copying 1 list to another list :

using copy() : it'll create a new list

In [99]:
#copying all items of list4 in list5 (list5 is a new list)
list5=list4.copy()
print(list5)
print(list4)

['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']
['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']

using list() : it'll copy list4 in list6 by passing list4 in list()

In [100]:
list6=list(list4)
list6

['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']

#Join 2 lists :

Methos-1 : joins/concatenate list1 and list 6 using + operator and store it in a new list(here, list7).

first list1 elements will be there then list6

In [101]:
print(list1)
print(list6)

list7=list1+list6
print(list1)
print(list6)
print(list7)

['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']
['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']
['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4, 'abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']

Method-2: using append and for loop

> it one by one apeends elements of list1 in list2

In [102]:
print(list1)
print(list2)

for x in list1:
  list2.append(x)

print(list1)
print(list2)

['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
[1, 2, 3, 4, 5]
['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
[1, 2, 3, 4, 5, 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]

Methos 3: using extend()

this means extending list1 by all the elements of list2

In [103]:
print(list1)
print(list2)

list1.extend(list2)
print(list1)
print(list2)

['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
[1, 2, 3, 4, 5, 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
['UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4, 1, 2, 3, 4, 5, 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]
[1, 2, 3, 4, 5, 'UG', 7, 'SHUBHANGI', 'xyz', 'student', 1, 2, 3, 4]

#Adding/appending one list on another list as an element :

In [105]:
print(list3)
print(list4)

list4.append(list3)
print(list3)
print(list4)

['abc', 1, 2, 3, True, False]
['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz']
['abc', 1, 2, 3, True, False]
['abc', 'bcd', 'bcsjhdgc', 'pwie', 'xyz', ['abc', 1, 2, 3, True, False]]