#Set :
1. it is not ordered i.e. unordered.
2. It is not mutable(changeable) (but, we can add/remove an item in the set, but we can't change/update an existing item in the set).
3. It doesn't allows duplicate values.

#Creating a set :

In [2]:
set1={'adf',1,2,3,4,True,'acb',False}
set1

{1, 2, 3, 4, False, 'acb', 'adf'}

As we can see sequence has been changed when we compare i/p with o/p. Therefore, we can say it is unordered.

First all int. values will be placed, then bool, then string and order of values will be in dictionary ascending order.

True means 1, and False means 0.

As 1 is there in the list so, True will not be there as SET can'r have duplicate values.

And as 0 isn't there so False is there in our set.

#Using set constructor for creating the set :

In [5]:
set2= set(('jkl','absd','',1,4,7,3,7,'bvx'))
set2

{'', 1, 3, 4, 7, 'absd', 'bvx', 'jkl'}

If an empty string is there it'll be placed before integers.

#Length of the set :

In [10]:
print(len(set1))
print(len(set2))

7
8

#Type :

In [ ]:
print(type(set1))

#Accessing elements of set :

In [11]:
for i in set1:
  print(i)

False
1
2
3
4
acb
adf

As we can see, above we have printed set1 directlt all intgers were printed first followed by bool & string resp. and values were in ascending order.

But, here when we printed using for loop first bool values are printed, followed by int. & string resp. and no order is there( ascending/ descending).
That means, values are printed randomly no sequencing(order) is there.

#We can't change existing values.

#Adding new item in set :

In [12]:
set1.add("opu")
set1

{1, 2, 3, 4, False, 'acb', 'adf', 'opu'}

In [13]:
set1.add(1.5)
set1

{1, 1.5, 2, 3, 4, False, 'acb', 'adf', 'opu'}

#Adding elements of a set in another set :

In [14]:
print(set1)
print(set2)

set1.update(set2)

print(set1)
print(set2)

{False, 1, 2, 3, 4, 1.5, 'opu', 'acb', 'adf'}
{'', 1, 3, 4, 7, 'absd', 'bvx', 'jkl'}
{False, 1, 2, 3, 4, 1.5, '', 7, 'absd', 'bvx', 'opu', 'acb', 'adf', 'jkl'}
{'', 1, 3, 4, 7, 'absd', 'bvx', 'jkl'}

#Updating adding items in a set using list :

In [16]:
list1=['dfg','jkl']

set2.update(list1)
print(set2)

{'', 1, 3, 4, 7, 'absd', 'bvx', 'dfg', 'jkl'}

#Removing item from the set :

Method-1 : using remove()
set_name.remove(element)

In [17]:
set2.remove('')
set2

{1, 3, 4, 7, 'absd', 'bvx', 'dfg', 'jkl'}

In [19]:
set2.remove('jkl')
set2

{1, 3, 4, 7, 'absd', 'bvx', 'dfg'}

In [18]:
set1.remove(1.5)
set1

{'', 1, 2, 3, 4, 7, False, 'absd', 'acb', 'adf', 'bvx', 'jkl', 'opu'}

Method-2 : using discard()

set_name.discard(element)

In [21]:
set2.discard('dfg')
set2

{1, 3, 4, 7, 'absd', 'bvx'}

#Difference b/w remove() & discard() :

-> remove() : if the element is not present in the list it'll through error

-> discard() : if the element is not there in the list it'll not through error

In [28]:
#error will be there as element doesn't exist in the set
#code after remove() won't be executed as there is error

print(set2)

set2.remove('dfg')
set2

{1, 3, 4, 7, 'absd', 'bvx'}

KeyError: ignored

In [29]:
#no error even though element is not in the set
#code after discard() will be executed as there is no error

print(set2)

set2.discard('dfg')
set2

{1, 3, 4, 7, 'absd', 'bvx'}

{1, 3, 4, 7, 'absd', 'bvx'}

#Removing all items from the set :

In [30]:
set2.clear()
set2

set()

#Deleting set :

In [31]:
del set2

In [32]:
set2

NameError: ignored

#Again creating set2 :

In [33]:
set2= set(('jkl','absd',1,4,7,3,7,'bvx'))
set2

{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}

#Operations on set :

As it is a set these operations can be performed :
1. Union
2. Intersection
3. Difference (similar to complement)

# 1. Union :

(No duplicate values will be there as set from after is also a set..general set &union property)

Method-1 : using union()

It'll create new set from existing sets. All elements of both sets will be there (but no duplicates, only single occurrences)

In [35]:
print(set1)
print(set2)

set3=set1.union(set2)
print(set3)

{False, 1, 2, 3, 4, '', 7, 'absd', 'bvx', 'opu', 'acb', 'adf', 'jkl'}
{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}
{False, 1, 2, 3, 4, '', 7, 'absd', 'opu', 'acb', 'adf', 'jkl', 'bvx'}

Method-2 : using update()

(already used above)

#Difference b/w union() & update()

->union() - new set is created

-> update() - one set values will be stored in another set (no new set will be there)

#2. Intersection :

Method-1 : using intersection()

It'll create new set from existing sets. Only common elements of both sets will be there.

In [36]:
set4=set1.intersection(set2)
set4

{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}

Metho-2 : intersection_update() 

It'll update set1 with the common elements of both set1 & set2.

In [39]:
set1.intersection_update(set2)
print(set1)

{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}

#3. Difference :
It'll take uncommon elements of both the sets.

Method-1 : symmetric_difference()

New set will be created with uncommon elements of both set1 & set2

In [40]:
#set5 will be empty as set1 & set2 have same elements

print(set1)
print(set2)

set5=set1.symmetric_difference(set2)
print(set5)

{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}
{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}
set()

In [41]:
print(set1)
print(set3)

set6=set1.symmetric_difference(set3)
print(set6)

{1, 3, 4, 7, 'absd', 'bvx', 'jkl'}
{False, 1, 2, 3, 4, '', 7, 'absd', 'opu', 'acb', 'adf', 'jkl', 'bvx'}
{False, 2, '', 'opu', 'acb', 'adf'}

Method-2 : set1.symmetric_difference_update(set3)

It'll update set1 with the uncommon elements of both set1 & set3.

In [42]:
set1.symmetric_difference_update(set3)
print(set1)

{False, 2, '', 'opu', 'acb', 'adf'}

#For searching an element in a SET we'll have to give the element and we'll use FOR LOOP for searching as no indexing is there in SET, therefore we'll have to compare set elements with the element which we want to search.