#Tuple:
1. it is ordered (like array it maintains index) (has indexing, starting from 0)
2. It is not mutable(changeable).
3. It allows duplicate values.

#Difference b/w list and tuple:

*   List :
1.  it is mutable.

*   Tuple :
1. It is not mutable.

If we want to change something in tuple, then first we have to convert tuple into list to do so.

In [15]:
tuple1=('dgsj','abd',1,True,'pqr',4)
tuple1

('dgsj', 'abd', 1, True, 'pqr', 4)

#Accesing tuple elements using index : 

Note: all list methods can be used

In [4]:
print(tuple1[1])

abd

In [3]:
print(tuple1[-2])

pqr

#Printing tuple in reverse :

In [5]:
print(tuple1[::-1])

(4, 'pqr', True, 1, 'abd', 'dgsj')

#Changing element :

In [6]:
#it'll give error as tuple is not mutable
tuple1[1]='banasthali'

TypeError: ignored

For changing element of tuple first er have to covert tuple into list :

In [16]:
list1=list(tuple1)
print(list1)
print(tuple1)

list1[1]='banasthali'
print(list1)
print(tuple1)

['dgsj', 'abd', 1, True, 'pqr', 4]
('dgsj', 'abd', 1, True, 'pqr', 4)
['dgsj', 'banasthali', 1, True, 'pqr', 4]
('dgsj', 'abd', 1, True, 'pqr', 4)

#Removing item:

we'll used list1 to remove as we can't remove from tuple1

In [18]:
list1.remove('banasthali')
list1

['dgsj', 1, True, 'pqr', 4]

#Changing list to tuple :

In [19]:
tuple2=tuple(list1)
tuple2

('dgsj', 1, True, 'pqr', 4)

#Deleting tuple :

In [12]:
del tuple1

In [13]:
tuple1

NameError: ignored

#We can implement all List methods for tuple

#-> We use tuple so that our data can't be altered by anyone or us