**20-03-2022**

In [5]:
from google.colab import files
uploaded=files.upload()

Saving Ads_Optimisation.csv to Ads_Optimisation.csv

In [6]:
import pandas as pd   #for reading the file
import numpy as np
import io   #as file is in google colab we are using it
df=pd.read_csv(io.BytesIO(uploaded['Ads_Optimisation.csv']))   #taking permission of io for reading as it is in google colab
#uploaded is a variable name where we have uploaded the file
df

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

the above dataset stores whether an advertisement is clicked by the user or not.

1 for yes, 0 for no

---

#Implementing UCB (upper confidence bound):

(have to implement UCB logically)

-> first, random selection

In [9]:
import numpy as np
import random

N=10000 #no. of iterations
d=10 #as 10 advertisements are there
ads_selected=[]
total_reward=0

for n in range(0,N):
  ad=random.randrange(d) #randomly selecting from 10 ads
  ads_selected.append(ad)
  reward= df.values[n,ad]
  total_reward=total_reward+reward

In [10]:
total_reward

1247

In [11]:
pd.Series(ads_selected).head(1000).value_counts(normalize=True) #normalized value of rewards
#viewing first 1000 rows

9    0.108
3    0.106
7    0.105
2    0.102
6    0.101
4    0.100
1    0.100
8    0.095
5    0.092
0    0.091
dtype: float64

highest reward point is the best one

-> applying UCB :

In [13]:
import math
N=10000 #no. of iterations
d=10 #as 10 advertisements are there
ads_selected=[]
total_reward=0
number_of_selection=[0]*d
sum_of_rewards=[0]*d

for n in range(0,N):
  ad=0
  max_upper_bound=0
  for i in range(0,d): #formula for ucb
    if number_of_selection[i]>0: #whether ad. is clicked or not, 1 for yes, 0 for no
      average_reward= sum_of_rewards[i]/number_of_selection[i]
      ucb= math.sqrt(2*math.log(n+1)/number_of_selection[i])
      upper_bound= average_reward + ucb
    else :
      upper_bound= 1e500
    if upper_bound> max_upper_bound:
        max_upper_bound= upper_bound
        ad= i  
  ads_selected.append(ad)
  number_of_selection[ad]+=1
  reward=df.values[n,ad]
  sum_of_rewards[ad]+=reward
  total_rewards=total_reward+reward

In [14]:
pd.Series(ads_selected).head(1000).value_counts(normalize=True) #normalized value of rewards
#viewing first 1000 rows

7    0.192
4    0.153
0    0.115
8    0.096
3    0.093
1    0.080
6    0.080
2    0.077
5    0.059
9    0.055
dtype: float64

7 is the best one as  it is having highest value.