**27-03-2022**

## Thompson Sampling

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('Ads_Optimisation.csv')

In [ ]:
df

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [ ]:
#dependent on probability distribution
ads=5
selected_adv=[]
observations=250
rewards=[0]*ads #array of 5 advertisement
penalties=[0]*ads
rewards

[0, 0, 0, 0, 0]

In [ ]:
total_reward=0

In [ ]:
import numpy as np
import random

In [ ]:
for n in range(0,observations):
    bandit=0
    beta_max=0
    for i in range(0,ads):
        beta_d=random.betavariate(rewards[i]+1,penalties[i]+1) #for beta bernoulli's distribution(0 or 1)
        if beta_d > beta_max:
            beta_max=beta_d
            bandit=1#person is clicking the particular ad
        selected_adv.append(bandit)
        reward=df.values[n,bandit]
        if reward==1:
            rewards[bandit]=rewards[bandit]+1
        else:
            penalties[bandit]=penalties[bandit]+1
            total_reward=total_reward+reward
print("\nReward by machine:",rewards)

Reward by machine: [0, 180, 0, 0, 0]